html, body {
  height: 100%;  /* PRIDANÉ */
  margin: 0;
  background-color: rgb(0, 0, 0);
  font-family: "Pixelify Sans", sans-serif;
  overflow-x: hidden;
}
h1{
    font-size: 48px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.nadpis {
  width: 80%;
  max-width: 800px;
  max-height: 500px;
  margin: 20px auto 30px auto;  /* AUTO = CENTRUM */
  display: block;
}
button {
display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 220px;
  height: 100px;
  text-decoration: none;
  font-size: 40px;
  font-family: "Pixelify Sans", sans-serif;
  line-height: 1;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  font-weight: 500;
  transition: color 0.3s, transform 0.3s;
  cursor: pointer;
  user-select: none;
  position: relative;
  z-index: 10;  /* ZVÝŠENÉ Z-INDEX */
  overflow: visible;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-clip: padding-box;
}
.start:hover,
a.start:hover,
button.start:hover {
  transform: scale(1.05);
  opacity: 1 !important;
  color: white !important;
  background-color: black;
  z-index: 10;
}
.start:focus,
.settings:focus,
.credits:focus,
a.start:focus,
button.settings:focus,
button.credits:focus { 
  outline: none; 
}

.start::before,
.settings::before,
.credits::before,
a.start::before,
button.settings::before,
button.credits::before {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: 12px;
  background: linear-gradient(90deg, #ff5a00 10%, #ff8a00 40%, #004cff 60%, #0066ff 90%);
  z-index: -1;  /* POD BUTTONOM */
  background-size: 200% 200%;
  opacity: 0;
}
.button-holder {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
  max-width:300px;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 7px;
  background-color: transparent;
  background-image: linear-gradient(transparent, transparent), linear-gradient(90deg, #ff5a00 10%, #ff8a00 40%, #004cff 60%, #0066ff 90%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  background-size: 100% 100%, 200% 200%;
  animation: borderGradient 4s linear infinite;
}